body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #cfcfcfc6;
    min-height:100vh;
}
header {
  flex: 0 200px;
  background-color: #eaedff;
  display: flex;
  flex-direction: row;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  flex: 0 30;
  background-color: #ffd0d0;
}
#display-logged-in {
    display:none
}
.modal-sign-up {
    display:none
}
.info {
    display: none
}
.log-in-container {
    width: 400px;
    flex-shrink: 0;
    padding:10px;
}
nav {
    flex: 1;
}