@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

.playwrite-nz-basic-reg {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #cfcfcfc6;
    min-height:100vh;
}
header {
  flex: 0 200px;
  background-color: #d0e8ff;
  display: flex;
  flex-direction: row;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  flex: 0 30;
  padding:5px;
  background-color: #d0e8ff;
  text-align: right;
}
#display-logged-in {
    display:none
}
.modal-sign-up {
    display:none
}
.info {
    display: none
}
.log-in-container {
    width: 400px;
    flex-shrink: 0;
    padding:10px;
}
nav {
    flex: 1;
    padding: 10px;
}
.logo {
    font-size:5em;
    transition: font-size 0.3s ease;
}
.logo:hover {
    font-size: 5.5em;
}
.nav-item {
    font-size: 2em;
    transition: font-size 0.3s ease;
}
.nav-item:hover {
    font-size:2.2em;
}
.no-decoration {
    text-decoration: none;
    color: black;
}
.no-decoration:hover {
    color: black;
    text-decoration: none;

}
.frontpage button, .frontpage a {
    margin:20px;
}
#main-play {
    font-size:2em;
}
.my-button {
    transition: transform 0.2s ease !important;
}
.my-button:hover {
    transform: scale(1.1) !important;
}
.my-button:active {
    transform: scale(0.9) !important;
}

@media (orientation: portrait) {
    .hide-vertical {
        display: none;
    }
    .log-in-container {
        display: flex;
        align-items: center;
        width: 100px;
    }


}