.log-in-container {
    background-color: azure;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
header {
  flex: 0 80px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  flex: 0 30px;
}
#display-logged-in {
    display:none
}
.modal-sign-up {
    display:none
}