@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

.playwrite-nz-basic-reg {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.body {
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 100vw;
    background-color: #ffffff;
    min-height:100vh;
    margin:0px;
    padding:0px;
}
header {
    flex: 0 0 220px;
    background-color: #d0e8ff;
    display: flex;
    flex-direction: row;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    flex: 0 30;
    padding:5px;
    background-color: #d0e8ff;
    text-align: right;
}
.log-in-container {
    width: 400px;
    flex-shrink: 0;
    padding:10px;
}
nav {
    flex: 1;
    padding: 10px;
}
.logo {
    font-size:5em;
    transition: font-size 0.3s ease;
}

.nav-item {
    font-size: 2em;
    transition: font-size 0.3s ease;
}

.no-decoration {
    text-decoration: none;
    color: black;
}
.no-decoration:hover {
    color: black;
    text-decoration: none;

}
.frontpage button, .frontpage a {
    margin:20px;
}
#main-play {
    font-size:2em;
}
.my-button {
    transition: transform 0.2s ease !important;
}

ul {
    list-style-type: none;
    padding-left: 0 !important;
    margin-left: 0
}

@media (hover: hover) and (pointer: fine) {
    .logo:hover {
        font-size: 5.5em;
    }
    .nav-item:hover {
        font-size:2.2em;
    }
    .my-button:hover {
        transform: scale(1.1) !important;
    }
    .my-button:active {
        transform: scale(0.9) !important;
    }
}

@media (orientation: portrait) {
    .hide-vertical {
        display: none;
    }
    .log-in-container {
        display: none;
        align-items: center;
        width: 100px;
    }
    .back-up-login {
        display: inline-block !important;
    }

}